---
import Container from "@/components/container.astro";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Hexagon from "@/components/hexagon.astro";
import Separator from "@/components/separator.astro";
import { $t, locales, resolveLocaleURL, resolvePropByLocale } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import { even, generateWhatsappLink } from "@/utils";
import { Image } from "astro:assets";
import { getCollection, getEntry } from "astro:content";
import IcSharpWhatsapp from "~icons/ic/sharp-whatsapp";
import Logo from "~icons/local/logo";
import LogoMin from "~icons/local/logo-min";

export function getStaticPaths() {
  return locales.map((locale) => ({
    params: { locale, products: $t("routes.products.page", locale) },
  }));
}

const page = "produtos";

const { locale } = Astro.params;

const products = (await getCollection("products")).sort(
  (a, b) => a.data.position - b.data.position,
);
const config = await getEntry("config", "index");
---

<Layout title={$t("routes.products.title", locale)}>
  <Header locale={locale} page={page} />

  <Container class="my-16 md:my-28 p-1 w-screen overflow-hidden">
    <section class="flex items-center">
      <LogoMin
        class="h-28 sm:h-44 md:h-64 lg:h-96 w-28 sm:w-44 md:w-64 lg:w-96 text-gray-400 flex-shrink-0"
      />
      <div class="-ml-2">
        <h1
          class="uppercase font-bold text-4xl md:text-8xl text-primary text-border"
        >
          {$t("products.title", locale)}
        </h1>
        <Logo class="w-[150px] md:w-[300px] h-10 md:h-20 text-primary" />
      </div>
    </section>

    <section
      class="mb-28 mt-12 space-y-8 md:space-y-12 divide-y-2 divide-y-gray-400 w-full"
    >
      {
        products.map((product, index) => (
          <a
            href={`${resolveLocaleURL("routes.products.path", locale)}/${
              product.slug
            }`}
            class:list={[
              "flex items-center pt-12 group gap-4 md:gap-8",
              even(index) ? "flex-row" : "flex-row-reverse",
            ]}
          >
            <h2
              class:list={[
                "w-1/3 uppercase text-primary text-lg sm:text-2xl md:text-4xl font-bold group-hover:text-black transition-colors duration-150 group-hover:duration-150",
                !even(index) && "text-right",
              ]}
            >
              {resolvePropByLocale(product.data, "title", locale)}
            </h2>
            <div class="flex flex-grow justify-center md:gap-2 h-32 md:h-80 relative">
              {product.data.images.slice(0, 3).map((image, index) => (
                <div
                  class:list={[
                    "absolute md:static flex w-24 h-32 md:w-64 md:h-80 group-hover:translate-x-0 transition-transform duration-300",
                    index == 0 && "left-0",
                    index == 1 && "-top-4 md:-translate-y-8 md:-translate-x-8",
                    index == 2 && "left-28 md:-translate-x-16",
                  ]}
                  transition:name={`product-${product.slug}-${index}`}
                >
                  <Hexagon size="xl">
                    <Image
                      class="size-full object-cover"
                      src={image}
                      alt={product.data.title}
                    />
                  </Hexagon>
                </div>
              ))}
            </div>
          </a>
        ))
      }
    </section>

    <Separator
      href={generateWhatsappLink(
        config.data.whatsapp.number,
        config.data.whatsapp.message,
      )}
      external
      icon={IcSharpWhatsapp}
      text={$t("home.contact", locale)}
    />
  </Container>

  <Footer />
</Layout>
