---
import Container from "@/components/container.astro";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Hexagon from "@/components/hexagon.astro";
import Separator from "@/components/separator.astro";
import { $t, locales, resolvePropByLocale } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import { even, generateWhatsappLink } from "@/utils";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { marked } from "marked";
import IcSharpWhatsapp from "~icons/ic/sharp-whatsapp";

export function getStaticPaths() {
  return locales.map((locale) => ({
    params: { locale, about: $t("routes.about.page", locale) },
  }));
}

const page = "sobre";

const { locale } = Astro.params;

const about = await getEntry("about", "index");
const config = await getEntry("config", "index");
---

<Layout colored title={$t("routes.about.title", locale)}>
  <Header colored locale={locale} page={page} />

  <Container class="my-24">
    <section class="relative h-80 overflow-hidden flex flex-col justify-center">
      <div
        class="z-0 absolute right-0 w-[75%] flex justify-center items-center"
      >
        <Image
          class="w-full h-auto object-cover absolute"
          src={about.data.titleBackground}
          alt="Duspor: Portas industriais"
        />
      </div>

      <div
        class="z-10 absolute inset-0 bg-gradient-to-r from-primary from-30% to-transparent"
      >
      </div>

      <div
        class="relative z-10 uppercase text-8xl max-w-[75%] text-white font-extrabold tracking-wide"
        set:html={marked(resolvePropByLocale(about.data, "title", locale))}
      />
    </section>

    <section
      class="text-white mt-12 text-justify leading-relaxed text-lg [&_strong]:text-black [&_strong]:font-bold"
      set:html={marked(resolvePropByLocale(about.data, "description", locale))}
    />

    <Separator colored />

    <section class="text-white">
      <h3
        class="text-center uppercase text-7xl font-bold"
        set:html={marked(resolvePropByLocale(about.data, "dna", locale))}
      />

      <div class="relative h-64 mt-16">
        {
          about.data.values.map((dna, index) => (
            <div
              class:list={[
                "flex justify-center items-center absolute",
                even(index) ? "flex-col top-0" : "flex-col-reverse bottom-0",
              ]}
              style={{ right: `calc(50% - ${100 + (index - 2) * 190}px)` }}
            >
              <Hexagon class="h-52 w-52 grayscale" size="md">
                <Image
                  class={
                    dna.image.height < dna.image.width
                      ? "h-full w-auto"
                      : "w-full h-auto"
                  }
                  src={dna.image}
                  alt={resolvePropByLocale(dna, "title", locale)}
                />
              </Hexagon>
              <div class="text-xl w-4/5 uppercase font-semibold text-center">
                {resolvePropByLocale(dna, "title", locale)}
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <Separator
      colored
      href={generateWhatsappLink(
        config.data.whatsapp.number,
        config.data.whatsapp.message,
      )}
      external
      icon={IcSharpWhatsapp}
      text={$t("home.contact", locale)}
    />
  </Container>

  <Footer colored />
</Layout>
