---
import Container from "@/components/container.astro";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Hexagon from "@/components/hexagon.astro";
import Separator from "@/components/separator.astro";
import { $t, locales, resolvePropByLocale } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import { even, generateWhatsappLink } from "@/utils";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { marked } from "marked";
import IcSharpWhatsapp from "~icons/ic/sharp-whatsapp";

export function getStaticPaths() {
  return locales.map((locale) => ({
    params: { locale, about: $t("routes.about.page", locale) },
  }));
}

const page = "sobre";

const { locale } = Astro.params;

const about = await getEntry("about", "index");
const config = await getEntry("config", "index");

const mission = {
  title: "Miss찾o",
  title_en: "Mission",
  title_es: "Misi처n",
};

const vision = {
  title: "Vis찾o",
  title_en: "Vision",
  title_es: "Visi처n",
};

const values = {
  title: "Valores",
  title_en: "Values",
  title_es: "Valores",
};
---

<Layout colored title={$t("routes.about.title", locale)}>
  <Header colored locale={locale} page={page} />

  <Container class="my-12 md:my-24 p-1">
    <section
      class="relative h-48 md:h-80 overflow-hidden flex flex-col justify-center"
    >
      <div
        class="z-0 absolute right-0 w-[75%] flex justify-center items-center"
      >
        <Image
          class="w-full h-auto object-cover absolute"
          src={about.data.titleBackground}
          alt="Duspor: Portas industriais"
        />
      </div>

      <div
        class="z-10 absolute inset-0 bg-gradient-to-r from-primary from-30% to-transparent"
      >
      </div>

      <div
        class="relative z-10 uppercase text-4xl md:text-8xl max-w-[75%] text-white font-extrabold tracking-wide"
        set:html={marked(resolvePropByLocale(about.data, "title", locale))}
      />
    </section>

    <section
      class="text-white mt-12 text-justify leading-relaxed md:text-lg [&_strong]:text-black [&_strong]:font-bold"
      set:html={marked(resolvePropByLocale(about.data, "description", locale))}
    />

    <Separator colored />

    <section class="text-white">
      <h3
        class="text-center uppercase text-4xl md:text-7xl font-bold"
        set:html={marked(resolvePropByLocale(about.data, "dna", locale))}
      />

      <div class="relative h-64 mt-16 hidden lg:block">
        {
          about.data.dnas.map((dna, index) => (
            <div
              class:list={[
                "flex justify-center items-center absolute",
                even(index) ? "flex-col top-0" : "flex-col-reverse bottom-0",
              ]}
              style={{ right: `calc(50% - ${100 + (index - 2) * 190}px)` }}
            >
              <Hexagon class="grayscale" hexagon size="md">
                <Image
                  class={
                    dna.image.height < dna.image.width
                      ? "h-full w-auto"
                      : "w-full h-auto"
                  }
                  src={dna.image}
                  alt={resolvePropByLocale(dna, "title", locale)}
                />
              </Hexagon>
              <div class="text-xl w-4/5 uppercase font-semibold text-center">
                {resolvePropByLocale(dna, "title", locale)}
              </div>
            </div>
          ))
        }
      </div>

      <div class="relative h-80 mt-16 hidden md:block lg:hidden">
        {
          about.data.dnas.map((dna, index) => (
            <div
              class:list={[
                "flex justify-center items-center absolute w-[150px]",
                even(index) ? "flex-col top-0" : "flex-col top-[175px]",
              ]}
              style={{ right: `calc(50% - ${75 + (index - 2) * 80}px)` }}
            >
              <Hexagon class="grayscale" size="xs">
                <Image
                  class={
                    dna.image.height < dna.image.width
                      ? "h-full w-auto"
                      : "w-full h-auto"
                  }
                  src={dna.image}
                  alt={resolvePropByLocale(dna, "title", locale)}
                />
              </Hexagon>
              <div class="text-xs w-4/5 uppercase font-semibold text-center">
                {resolvePropByLocale(dna, "title", locale)}
              </div>
            </div>
          ))
        }
      </div>

      <div class="relative h-72 mt-8 block md:hidden">
        {
          about.data.dnas.map((dna, index) => (
            <div
              class:list={[
                "flex justify-center items-center absolute w-[100px]",
                even(index) ? "flex-col top-0" : "flex-col top-[130px]",
              ]}
              style={{ right: `calc(50% - ${50 + (index - 2) * 52}px)` }}
            >
              <Hexagon class="grayscale" size="xxs">
                <Image
                  class={
                    dna.image.height < dna.image.width
                      ? "h-full w-auto"
                      : "w-full h-auto"
                  }
                  src={dna.image}
                  alt={resolvePropByLocale(dna, "title", locale)}
                />
              </Hexagon>
              <div class="text-xs w-4/5 uppercase font-semibold text-center">
                {resolvePropByLocale(dna, "title", locale)}
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <Separator
      colored
      href={generateWhatsappLink(
        config.data.whatsapp.number,
        config.data.whatsapp.message,
      )}
      external
      icon={IcSharpWhatsapp}
      text={$t("home.contact", locale)}
    />

    <section class="text-white">
      <h3
        class="uppercase text-xl md:text-3xl font-bold"
        set:html={resolvePropByLocale(mission, "title", locale)}
      />

      <div class="text-white mt-4 text-justify leading-relaxed md:text-lg">
        <div
          class="text-justify"
          set:html={marked(resolvePropByLocale(about.data, "mission", locale))}
        />
      </div>
    </section>

    <section class="text-white mt-12">
      <h3
        class="uppercase text-xl md:text-3xl font-bold"
        set:html={resolvePropByLocale(vision, "title", locale)}
      />

      <div class="text-white mt-4 text-justify leading-relaxed md:text-lg">
        <div
          class="text-justify"
          set:html={marked(resolvePropByLocale(about.data, "vision", locale))}
        />
      </div>
    </section>

    <section class="text-white mt-12">
      <h3
        class="uppercase text-xl md:text-3xl font-bold"
        set:html={resolvePropByLocale(values, "title", locale)}
      />

      <div class="text-white mt-4 text-justify leading-relaxed md:text-lg">
        <div
          class="text-justify"
          set:html={marked(resolvePropByLocale(about.data, "values", locale))}
        />
      </div>
    </section>
  </Container>

  <Footer colored />
</Layout>
