---
import Container from "@/components/container.astro";
import Footer from "@/components/footer.astro";
import GalleryFade from "@/components/gallery-fade.astro";
import Header from "@/components/header.astro";
import Hexagon from "@/components/hexagon.astro";
import Separator from "@/components/separator.astro";
import { $t, locales, resolveLocaleURL, resolvePropByLocale } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import { generateWhatsappLink } from "@/utils";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { marked } from "marked";
import { match } from "ts-pattern";
import IcSharpWhatsapp from "~icons/ic/sharp-whatsapp";
import Logo from "~icons/local/logo";

export function getStaticPaths() {
  return locales.map((locale) => ({ params: { locale } }));
}

const { locale } = Astro.params;

const home = await getEntry("home", "index");
const config = await getEntry("config", "index");

const resolveStyle = (index: number) =>
  match(index)
    .with(0, () => ({ top: "0", left: "25px" }))
    .with(1, () => ({ top: "65px", left: "calc(183px + 25px)" }))
    .with(2, () => ({ top: "190px", left: "calc(33px + 25px)" }))
    .with(3, () => ({ top: "255px", left: "calc(218px + 25px)" }))
    .otherwise(() => ({}));

const resolveMobileStyle = (index: number) =>
  match(index)
    .with(0, () => ({ top: "0", left: "25px" }))
    .with(1, () => ({ top: "55px", left: "calc(135px + 25px)" }))
    .with(2, () => ({ top: "140px", left: "calc(15px + 25px)" }))
    .with(3, () => ({ top: "200px", left: "calc(155px + 25px)" }))
    .otherwise(() => ({}));
---

<Layout title="home">
  <Header page="home" locale={locale} />

  <Container class="my-12 md:my-24 p-1">
    <div
      class="relative h-48 md:h-80 overflow-hidden flex flex-col justify-center"
    >
      <div
        class="z-0 absolute right-0 w-[75%] flex justify-center items-center"
      >
        <Image
          class="w-full h-auto object-cover absolute"
          src={home.data.titleBackground}
          alt="Duspor, portas industriais"
        />
      </div>

      <div
        class="z-10 absolute inset-0 bg-gradient-to-r from-white from-30% to-transparent"
      >
      </div>

      <div
        class="relative z-10 uppercase text-4xl md:text-7xl max-w-[75%] [&_strong]:text-primary [&_strong]:font-extrabold tracking-wide"
        set:html={marked(resolvePropByLocale(home.data, "title", locale))}
      />
    </div>

    <Separator
      href={resolveLocaleURL("routes.budget.path", locale)}
      text={$t("home.budget", locale)}
    />

    <div class="grid grid-rows-2 sm:grid-rows-1 sm:grid-cols-2">
      <div class="relative">
        {
          home.data.descriptionBackgrounds.slice(0, 4).map((image, index) => (
            <>
              <Hexagon
                class="absolute hidden md:flex"
                style={resolveStyle(index)}
              >
                <Image
                  class="w-full h-auto object-cover"
                  src={image}
                  alt={`Duspor, portas industriais ${index}`}
                />
              </Hexagon>
              <Hexagon
                size="xs"
                class="absolute flex md:hidden"
                style={resolveMobileStyle(index)}
              >
                <Image
                  class="w-full h-auto object-cover"
                  src={image}
                  alt={`Duspor, portas industriais ${index}`}
                />
              </Hexagon>
            </>
          ))
        }
      </div>

      <div
        class="uppercase text-right text-2xl md:text-5xl lg:text-6xl [&_strong]:text-primary [&_strong]:font-extrabold tracking-wide pt-20 md:pt-12 pb-12"
      >
        <div
          set:html={marked(
            resolvePropByLocale(home.data, "description", locale),
          )}
        />

        <div class="float-right mt-4 md:mt-6">
          <span class="sr-only">Duspor logo</span>
          <Logo class="w-[210px] md:w-[315px] lg:w-[420px] h-20 text-primary" />
        </div>
      </div>
    </div>

    <Separator
      href={generateWhatsappLink(
        config.data.whatsapp.number,
        config.data.whatsapp.message,
      )}
      external
      icon={IcSharpWhatsapp}
      text={$t("home.contact", locale)}
    />

    <div
      class="uppercase text-center text-2xl sm:text-4xl md:text-5xl lg:text-7xl [&_strong]:text-primary [&_strong]:font-extrabold tracking-wide"
      set:html={marked(resolvePropByLocale(home.data, "clients", locale))}
    />

    <GalleryFade class="my-4 md:my-12">
      {
        home.data.images.map((image) => (
          <div class="flex items-center justify-center py-6">
            <Image
              class="w-28 md:w-60 h-auto"
              src={image}
              alt="Duspor, portas industriais"
            />
          </div>
        ))
      }
    </GalleryFade>
  </Container>

  <Footer />
</Layout>
