---
import PortaRapida from "@/assets/images/porta-rapida.png";
import Container from "@/components/container.astro";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Hexagon from "@/components/hexagon.astro";
import Separator from "@/components/separator.astro";
import { $t, locales, resolveLocaleURL, resolvePropByLocale } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import { generateWhatsappLink } from "@/utils";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { marked } from "marked";
import { match } from "ts-pattern";
import IcSharpWhatsapp from "~icons/ic/sharp-whatsapp";
import Logo from "~icons/local/logo";

export function getStaticPaths() {
  return locales.map((locale) => ({ params: { locale } }));
}

const { locale } = Astro.params;

const images = Array.from({ length: 4 }, () => PortaRapida);

const home = await getEntry("home", "index");
const config = await getEntry("config", "index");

const resolveStyle = (index: number) =>
  match(index)
    .with(0, () => ({ top: "0", left: "25px" }))
    .with(1, () => ({ top: "65px", left: "calc(183px + 25px)" }))
    .with(2, () => ({ top: "190px", left: "calc(33px + 25px)" }))
    .with(3, () => ({ top: "255px", left: "calc(218px + 25px)" }))
    .otherwise(() => ({}));
---

<Layout title="home">
  <Header page="home" locale={locale} />

  <Container class="my-24">
    <div class="relative h-80 overflow-hidden flex flex-col justify-center">
      <div
        class="z-0 absolute right-0 w-[75%] flex justify-center items-center"
      >
        <Image
          class="w-full h-auto object-cover absolute"
          src={home.data.titleBackground}
          alt="Duspor, portas industriais"
        />
      </div>

      <div
        class="z-10 absolute inset-0 bg-gradient-to-r from-white from-30% to-transparent"
      >
      </div>

      <div
        class="relative z-10 uppercase text-7xl max-w-[75%] [&_strong]:text-primary [&_strong]:font-extrabold tracking-wide"
        set:html={marked(resolvePropByLocale(home.data, "title", locale))}
      />
    </div>

    <Separator
      href={resolveLocaleURL("routes.budget.path", locale)}
      text={$t("home.budget", locale)}
    />

    <div class="grid grid-cols-2">
      <div class="relative">
        {
          home.data.descriptionBackgrounds.slice(0, 4).map((image, index) => (
            <Hexagon class="w-52 h-52 absolute" style={resolveStyle(index)}>
              <Image
                class="w-full h-auto object-cover"
                src={image}
                alt={`Duspor, portas industriais ${index}`}
              />
            </Hexagon>
          ))
        }
      </div>

      <div
        class="uppercase text-right text-6xl [&_strong]:text-primary [&_strong]:font-extrabold tracking-wide py-12"
      >
        <div
          set:html={marked(
            resolvePropByLocale(home.data, "description", locale),
          )}
        />

        <div class="float-right mt-6">
          <span class="sr-only">Duspor logo</span>
          <Logo class="w-[420px] h-20 text-primary" />
        </div>
      </div>
    </div>

    <Separator
      href={generateWhatsappLink(
        config.data.whatsapp.number,
        config.data.whatsapp.message,
      )}
      external
      icon={IcSharpWhatsapp}
      text={$t("home.contact", locale)}
    />

    <div
      class="uppercase text-center text-7xl [&_strong]:text-primary [&_strong]:font-extrabold tracking-wide"
      set:html={marked(resolvePropByLocale(home.data, "clients", locale))}
    />
  </Container>

  <Footer />
</Layout>
